##

In [1]:
%load_ext sql

In [2]:
# Enter the connection string for your Db2 on Cloud database instance below
# %sql ibm_db_sa://my-username:my-password@my-hostname:my-port/my-db-name
%sql ibm_db_sa://msb52107:59kj282nqkg1h2-d@dashdb-txn-sbox-yp-lon02-02.services.eu-gb.bluemix.net:50000/BLUDB

'Connected: msb52107@BLUDB'

In [78]:
%sql select * from CHICAGO_PUBLIC_SCHOOLS limit 1

 * ibm_db_sa://msb52107:***@dashdb-txn-sbox-yp-lon02-02.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[(610038, 'Abraham Lincoln Elementary School', 'ES', '615 W Kemper Pl', 'Chicago', 'IL', 60614, '(773) 534-5720', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610038.pdf', 'Fullerton Elementary Network', 'NORTH-NORTHWEST SIDE COLLABORATIVE', 'No', 'Standard', 'Not on Probation', 'Level 1', 'Yes', 'Very Strong', 99, 'Very Strong', '99', 'Strong', 74, 'Strong', 66, 'Weak', '65', 'Strong', '70', 'Strong', '56', 'Average', '47', '96.00%', Decimal('2.0'), '96.40%', '95.80%', '80.1', '43.3', '89.6', '84.9', '60.7', '62.6', '81.9', '85.2', '52', '62.4', '66.3', '77.9', Decimal('69.7'), Decimal('64.4'), Decimal('0.2'), Decimal('0.9'), 'Yellow', 'Green', '67.1', '54.5', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 813, 33, 'NDA', Decimal('1171699.458'), Decimal('1915829.428'), Decimal('41.92449696'), Decimal('-87.64452163'), 7, 'LINCOLN PARK', 43, 18, '(41.92449696, -87.64452163)')]

In [23]:
%sql select * from CENSUS_DATA limit 1

 * ibm_db_sa://msb52107:***@dashdb-txn-sbox-yp-lon02-02.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[(1, 'Rogers Park', Decimal('7.7'), Decimal('23.6'), Decimal('8.7'), Decimal('18.2'), Decimal('27.5'), 23939, 39)]

In [24]:
%sql select * from CHICAGO_CRIME_DATA limit 1

 * ibm_db_sa://msb52107:***@dashdb-txn-sbox-yp-lon02-02.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[(3512276, 'HK587712', datetime.date(2004, 8, 28), '047XX S KEDZIE AVE', '890', 'THEFT', 'FROM BUILDING', 'SMALL RETAIL STORE', 'FALSE', 'FALSE', 911, 9, 14, 58, '6', 1155838, 1873050, 2004, Decimal('41.80744050'), Decimal('-87.70395585'), '(41.8074405, -87.703955849)')]

# Problem 1

## List the case number, type of crime and community area for all crimes in community area number 18.

>
Hint 1
Use tables CHICAGO_CRIME_DATA and CENSUS_DATA.
>
Hint 2
Use an inner join.
>
Hint 3
The column PRIMARY_TYPE contains the crime type.

In [41]:
%%sql 

select A.case_number,A.primary_type,A.community_area_number, B.community_area_name
from CHICAGO_CRIME_DATA as A
Inner Join CENSUS_DATA as B 
on B.community_area_number = A.community_area_number
AND A.community_area_number = '18'

 * ibm_db_sa://msb52107:***@dashdb-txn-sbox-yp-lon02-02.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[('JA560123', 'CRIMINAL DAMAGE', 18, 'Montclaire'),
 ('JA107722', 'OTHER OFFENSE', 18, 'Montclaire')]

# Problem 2

## List all crimes that took place at a school. Include case number, crime type and community name.
>
Hint 1
Use tables CHICAGO_CRIME_DATA and CENSUS_DATA.
>
Hint 2
Use a left join or a right join.
>
Hint 3
The column LOCATION_DESCRIPTION will help you find the crime location.

In [51]:
%%sql 

select A.case_number,A.primary_type, B.community_area_name
from CHICAGO_CRIME_DATA as A 
Left Join CENSUS_DATA as B 
on A.community_area_number = B.community_area_number
where A.LOCATION_DESCRIPTION Like '%SCHOOL%'

 * ibm_db_sa://msb52107:***@dashdb-txn-sbox-yp-lon02-02.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[('HK577020', 'NARCOTICS', 'Rogers Park'),
 ('HL725506', 'BATTERY', 'Lincoln Square'),
 ('HH639427', 'BATTERY', 'Austin'),
 ('HS200939', 'CRIMINAL DAMAGE', 'Austin'),
 ('HT315369', 'ASSAULT', 'East Garfield Park'),
 ('HP716225', 'BATTERY', 'Douglas'),
 ('HL353697', 'BATTERY', 'South Shore'),
 ('HS305355', 'NARCOTICS', 'Brighton Park'),
 ('JA460432', 'BATTERY', 'Ashburn'),
 ('HR585012', 'CRIMINAL TRESPASS', 'Ashburn'),
 ('HH292682', 'PUBLIC PEACE VIOLATION', None),
 ('G635735', 'PUBLIC PEACE VIOLATION', None)]

# Problem 3

## For the communities of Oakland, Armour Square, Edgewater and CHICAGO list the associated community_area_numbers and the case_numbers.

>
Hint 1
Use tables CHICAGO_CRIME_DATA and CENSUS_DATA.
>
Hint 2
Use a full outer join.
>
Hint 3
Use COMMUNITY_AREA_NUMBER from CENSUS_DATA.

In [79]:
%%sql 

select A.case_number,B.community_area_name,B.community_area_number
from CHICAGO_CRIME_DATA as A
Full Outer Join CENSUS_DATA as B 
on A.community_area_number = B.community_area_number
where B.community_area_name in ('Oakland', 'Armour Square', 'Edgewater', 'CHICAGO')

 * ibm_db_sa://msb52107:***@dashdb-txn-sbox-yp-lon02-02.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[('HV537004', 'Edgewater', 77),
 ('HM392612', 'Edgewater', 77),
 (None, 'CHICAGO', None),
 (None, 'Armour Square', 34),
 (None, 'Oakland', 36)]

---
---

# Exercise 1: Using Joins

# Question 1
## Write and execute a SQL query to list the school names, community names and average attendance for communities with a hardship index of 98.

>
Hint 1
Use tables CHICAGO_CRIME_DATA and CENSUS_DATA
>
Hint 2
Use a left join

In [90]:
%%sql

select A.name_of_school,A.average_student_attendance,B.community_area_name
From CHICAGO_PUBLIC_SCHOOLS as A
left Join CENSUS_DATA as B 
on A.community_area_number = B.community_area_number
where B.hardship_index ='98';

 * ibm_db_sa://msb52107:***@dashdb-txn-sbox-yp-lon02-02.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[('George Washington Carver Military Academy High School', '91.60%', 'Riverdale'),
 ('George Washington Carver Primary School', '90.90%', 'Riverdale'),
 ('Ira F Aldridge Elementary School', '92.90%', 'Riverdale'),
 ('William E B Dubois Elementary School', '93.30%', 'Riverdale')]

---
---

# Question 2
## Write and execute a SQL query to list all crimes that took place at a school. Include case number, crime type and community name.
>
Hint 1
Use tables CHICAGO_CRIME_DATA and CENSUS_DATA
>
Hint 2
Use a left join
>
Hint 3
The column location_description will help you find the crime location

In [142]:
%%sql 

select A.case_number,A.primary_type, B.community_area_name
from CHICAGO_CRIME_DATA as A
Left Join CENSUS_DATA as B 
on A.community_area_number = B.community_area_number
where A.LOCATION_DESCRIPTION Like '%SCHOOL%'

 * ibm_db_sa://msb52107:***@dashdb-txn-sbox-yp-lon02-02.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[('HK577020', 'NARCOTICS', 'Rogers Park'),
 ('HL725506', 'BATTERY', 'Lincoln Square'),
 ('HH639427', 'BATTERY', 'Austin'),
 ('HS200939', 'CRIMINAL DAMAGE', 'Austin'),
 ('HT315369', 'ASSAULT', 'East Garfield Park'),
 ('HP716225', 'BATTERY', 'Douglas'),
 ('HL353697', 'BATTERY', 'South Shore'),
 ('HS305355', 'NARCOTICS', 'Brighton Park'),
 ('JA460432', 'BATTERY', 'Ashburn'),
 ('HR585012', 'CRIMINAL TRESPASS', 'Ashburn'),
 ('HH292682', 'PUBLIC PEACE VIOLATION', None),
 ('G635735', 'PUBLIC PEACE VIOLATION', None)]

---
---

# Exercise 2: Creating a View

# Question 1
## Write and execute a SQL statement to create a view showing the columns listed in the following table, with new column names as shown in the second column.

*Column name in CHICAGO_PUBLIC_SCHOOLS*	
>>
NAME_OF_SCHOOL	
Safety_Icon	
Family_Involvement_Icon
Environment_Icon	
Instruction_Icon	
Leaders_Icon	
Teachers_Icon

*Column name in view*
>>>
    School_Name
    Safety_Rating
    Family_Rating
    Environment_Rating
    Instruction_Rating
    Leaders_Rating
    Teachers_Rating

In [15]:
%sql select * from CHICAGO_PUBLIC_SCHOOLS limit 1

 * ibm_db_sa://msb52107:***@dashdb-txn-sbox-yp-lon02-02.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[(610038, 'Abraham Lincoln Elementary School', 'ES', '615 W Kemper Pl', 'Chicago', 'IL', 60614, '(773) 534-5720', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610038.pdf', 'Fullerton Elementary Network', 'NORTH-NORTHWEST SIDE COLLABORATIVE', 'No', 'Standard', 'Not on Probation', 'Level 1', 'Yes', 'Very Strong', 99, 'Very Strong', '99', 'Strong', 74, 'Strong', 66, 'Weak', '38', 'Strong', '70', 'Strong', '56', 'Average', '47', '96.00%', Decimal('2.0'), '96.40%', '95.80%', '80.1', '43.3', '89.6', '84.9', '60.7', '62.6', '81.9', '85.2', '52', '62.4', '66.3', '77.9', Decimal('69.7'), Decimal('64.4'), Decimal('0.2'), Decimal('0.9'), 'Yellow', 'Green', '67.1', '54.5', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 813, 33, 'NDA', Decimal('1171699.458'), Decimal('1915829.428'), Decimal('41.92449696'), Decimal('-87.64452163'), 7, 'LINCOLN PARK', 43, 18, '(41.92449696, -87.64452163)')]

In [18]:
%%sql

CREATE or replace VIEW qview (School_Name,Safety_Rating,Family_Rating,Environment_Rating,Instruction_Rating,Leaders_Rating,Teachers_Rating)

AS SELECT name_of_school, "Safety_Icon", "Family_Involvement_Icon", "Environment_Icon", "Instruction_Icon", "Leaders_Icon", "Teachers_Icon"

FROM CHICAGO_PUBLIC_SCHOOLS;

 * ibm_db_sa://msb52107:***@dashdb-txn-sbox-yp-lon02-02.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[]

### Write and execute a SQL statement that returns all of the columns from the view.

In [17]:
%sql Select * from qview limit 5

 * ibm_db_sa://msb52107:***@dashdb-txn-sbox-yp-lon02-02.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[('Abraham Lincoln Elementary School', 'Very Strong', 'Very Strong', 'Strong', 'Strong', 'Weak', 'Strong'),
 ('Adam Clayton Powell Paideia Community Academy Elementary School', 'Average', 'Strong', 'Strong', 'Very Strong', 'Average', 'Strong'),
 ('Adlai E Stevenson Elementary School', 'Strong', 'NDA', 'Average', 'Weak', 'Weak', 'NDA'),
 ('Agustin Lara Elementary Academy', 'Average', 'Average', 'Average', 'Weak', 'Weak', 'Average'),
 ('Air Force Academy High School', 'Average', 'Strong', 'Strong', 'Average', 'Weak', 'Average')]

### Write and execute a SQL statement that returns just the school name and leaders rating from the view.

In [177]:
%sql Select school_name, leaders_rating from qview limit 5

 * ibm_db_sa://msb52107:***@dashdb-txn-sbox-yp-lon02-02.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[('Abraham Lincoln Elementary School', 'Weak'),
 ('Adam Clayton Powell Paideia Community Academy Elementary School', 'Weak'),
 ('Adlai E Stevenson Elementary School', 'Weak'),
 ('Agustin Lara Elementary Academy', 'Weak'),
 ('Air Force Academy High School', 'Weak')]

# Exercise 3: Creating a Stored Procedure

## Question 1

>Write the structure of a query to create or replace a stored procedure called UPDATE_LEADERS_SCORE that takes a in_School_ID parameter as an integer and a in_Leader_Score parameter as an integer. Don't forget to use the #SET TERMINATOR statement to use the @ for the CREATE statement terminator.

In [29]:
%%sql 
--#SET TERMINATOR @
CREATE OR REPLACE PROCEDURE UPDATE_LEADERS_SCORE (IN in_School_ID INTEGER, IN in_Leader_Score INTEGER)
  LANGUAGE SQL
  MODIFIES SQL DATA 
  	BEGIN 

	END

 * ibm_db_sa://msb52107:***@dashdb-txn-sbox-yp-lon02-02.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[]

## Question 2

>Inside your stored procedure, write a SQL statement to update the Leaders_Score field in the CHICAGO_PUBLIC_SCHOOLS table for the school identified by in_School_ID to the value in the in_Leader_Score parameter.

## Soluction



--#SET TERMINATOR @

CREATE OR REPLACE PROCEDURE UPDATE_LEADERS_SCORE (IN in_School_ID INTEGER, IN in_Leader_Score INTEGER)
  LANGUAGE SQL
  
	BEGIN 
	
		UPDATE CHICAGO_PUBLIC_SCHOOLS
		SET "Leaders_Score" = in_Leader_Score
			WHERE "School_ID" = in_School_ID;
			
	END@

In [26]:
%%sql 

--#SET TERMINATOR @
CREATE or Replace PROCEDURE UPDATE_LEADERS_SCORE
	(IN in_School_ID INTEGER, IN in_Leader_Score INTEGER ) 
	
 	
 	LANGUAGE SQL                                                	-- Language used in this routine
	MODIFIES SQL DATA                                          -- This routine will only write/modify data in the table

 
	 UPDATE CHICAGO_PUBLIC_SCHOOLS 
	 SET "Leaders_Score" = in_Leader_Score
	 WHERE "School_ID" = in_School_ID

 * ibm_db_sa://msb52107:***@dashdb-txn-sbox-yp-lon02-02.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[]

## Question 3
>Inside your stored procedure, write a SQL IF statement to update the Leaders_Icon field in the CHICAGO_PUBLIC_SCHOOLS table for the school identified by in_School_ID using the following information.

>>Score lower limit	   Score upper limit	Icon
            
            80	      99	Very strong
            60	      79	Strong
            40	      59	Average
            20	      39	Weak
             0	      19	Very weak

In [31]:
%%sql 

--#SET TERMINATOR @
CREATE or replace PROCEDURE UPDATE_LEADERS_SCORE (
    IN in_School_ID  INTEGER, IN in_Leader_Score INTEGER) 
LANGUAGE SQL 
MODIFIES SQL DATA
  BEGIN
    UPDATE CHICAGO_PUBLIC_SCHOOLS 
	 SET "Leaders_Score" = in_Leader_Score
	 WHERE "School_ID" = in_School_ID;
    IF in_Leader_Score >=  80 THEN 
        UPDATE "CHICAGO_PUBLIC_SCHOOLS"
        SET "Leaders_Icon" = 'Very_Strong'
        WHERE "School_ID" = in_School_ID;
    ELSEIF in_Leader_Score>= 60 and in_Leader_Score <= 79  THEN
        UPDATE "CHICAGO_PUBLIC_SCHOOLS"
        SET "Leaders_Icon" = 'Strong'
        WHERE "School_ID" = in_School_ID;
    ELSEIF in_Leader_Score >=  40 and in_Leader_Score <= 59  THEN
        UPDATE "CHICAGO_PUBLIC_SCHOOLS"
        SET "Leaders_Icon" = 'Average'
        WHERE "School_ID" = in_School_ID;
    ELSEIF in_Leader_Score >=  20 and in_Leader_Score <= 39  THEN
        UPDATE "CHICAGO_PUBLIC_SCHOOLS"
        SET "Leaders_Icon" = 'Weak'
        WHERE "School_ID" = in_School_ID;
    ELSE
        UPDATE "CHICAGO_PUBLIC_SCHOOLS"
        SET "Leaders_Icon" = 'Very Weak'
        WHERE "School_ID" = in_School_ID;
        END IF;
  END

 * ibm_db_sa://msb52107:***@dashdb-txn-sbox-yp-lon02-02.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[]

### Solution

CREATE OR REPLACE PROCEDURE UPDATE_LEADERS_SCORE (IN in_School_ID INTEGER, IN in_Leader_Score INTEGER)
  LANGUAGE SQL
  
	BEGIN 

		UPDATE CHICAGO_PUBLIC_SCHOOLS
		SET "Leaders_Score" = in_Leader_Score
			WHERE "School_ID" = in_School_ID;
			
		IF in_Leader_Score > 0 AND in_Leader_Score < 20 THEN
	      	UPDATE CHICAGO_PUBLIC_SCHOOLS
				SET "Leaders_Icon" = 'Very Weak';
	    ELSEIF in_Leader_Score < 40 THEN
	       	UPDATE CHICAGO_PUBLIC_SCHOOLS
				SET "Leaders_Icon" = 'Weak';	
	    ELSEIF in_Leader_Score < 60 THEN
	       	UPDATE CHICAGO_PUBLIC_SCHOOLS
				SET "Leaders_Icon" = 'Average';
	    ELSEIF in_Leader_Score < 80 THEN
	       	UPDATE CHICAGO_PUBLIC_SCHOOLS
				SET "Leaders_Icon" = 'Strong';
	    ELSEIF in_Leader_Score < 100 THEN
	       	UPDATE CHICAGO_PUBLIC_SCHOOLS
				SET "Leaders_Icon" = 'Very Strong';
	   	END IF;
		
	END@

## Question 4
### Run your code to create the stored procedure.Take a screenshot showing the SQL query and its results.

>Write a query to call the stored procedure, passing a valid school ID and a leader score of 50, to check that the procedure works as expected.

In [21]:
%%sql 

CALL RETRIEVE_ALL_1;

CALL UPDATE_LEADERS_SCORE(610281, 50);        -- Caller query

CALL RETRIEVE_ALL_1;

 * ibm_db_sa://msb52107:***@dashdb-txn-sbox-yp-lon02-02.services.eu-gb.bluemix.net:50000/BLUDB
Done.
Done.
Done.
(ibm_db_dbi.ProgrammingError) ibm_db_dbi::ProgrammingError: The last call to execute did not produce any result set.
(Background on this error at: http://sqlalche.me/e/f405)

# Exercise 4: Using Transactions

* You realise that if someone calls your code with a score outside of the allowed range (0-99), then the score will be updated with the invalid data and the icon will remain at its previous value. There are various ways to avoid this problem, one of which is using a transaction.

## Question 1

>Update your stored procedure definition. Add a generic ELSE clause to the IF statement that rolls back the current work if the score did not fit any of the preceding categories.

### Hint1
*You can add an ELSE clause to the IF statement which will only run if none of the previous conditions have been met.*

*My answer*

In [33]:
%%sql

--#SET TERMINATOR @
CREATE or replace PROCEDURE UPDATE_LEADERS_SCORE (
    IN in_School_ID  INTEGER, IN in_Leader_Score INTEGER) 
LANGUAGE SQL 
MODIFIES SQL DATA
 BEGIN 

		UPDATE CHICAGO_PUBLIC_SCHOOLS
		SET "Leaders_Score" = in_Leader_Score
			WHERE "School_ID" = in_School_ID;
			
		IF in_Leader_Score > 0 AND in_Leader_Score < 20 THEN
	      	UPDATE CHICAGO_PUBLIC_SCHOOLS
				SET "Leaders_Icon" = 'Very Weak';
	    ELSEIF in_Leader_Score < 40 THEN
	       	UPDATE CHICAGO_PUBLIC_SCHOOLS
				SET "Leaders_Icon" = 'Weak';	
	    ELSEIF in_Leader_Score < 60 THEN
	       	UPDATE CHICAGO_PUBLIC_SCHOOLS
				SET "Leaders_Icon" = 'Average';
	    ELSEIF in_Leader_Score < 80 THEN
	       	UPDATE CHICAGO_PUBLIC_SCHOOLS
				SET "Leaders_Icon" = 'Strong';
	    ELSEIF in_Leader_Score < 100 THEN
	       	UPDATE CHICAGO_PUBLIC_SCHOOLS
				SET "Leaders_Icon" = 'Very Strong';
	   	END IF;
		
 --  SQLCODE Using Transactions to avoid someone calls a score outside of the allow range (0-99)    
        IF in_Leader_Score < 0 or in_Leader_Score >=100 THEN         
			ROLLBACK WORK;

        ELSE
			COMMIT WORK;

		END IF;
     	
  END

 * ibm_db_sa://msb52107:***@dashdb-txn-sbox-yp-lon02-02.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[]

*Could be solution*

In [19]:
%%sql 

--#SET TERMINATOR @
CREATE or replace PROCEDURE UPDATE_LEADERS_SCORE (
    IN in_School_ID  INTEGER, IN in_Leader_Score INTEGER) 
LANGUAGE SQL 
MODIFIES SQL DATA
  BEGIN
    UPDATE CHICAGO_PUBLIC_SCHOOLS
		SET "Leaders_Score" = in_Leader_Score
			WHERE "School_ID" = in_School_ID;
			
		IF in_Leader_Score > 0 AND in_Leader_Score < 20 THEN
	      	UPDATE CHICAGO_PUBLIC_SCHOOLS
				SET "Leaders_Icon" = 'Very Weak';
	    ELSEIF in_Leader_Score < 40 THEN
	       	UPDATE CHICAGO_PUBLIC_SCHOOLS
				SET "Leaders_Icon" = 'Weak';	
	    ELSEIF in_Leader_Score < 60 THEN
	       	UPDATE CHICAGO_PUBLIC_SCHOOLS
				SET "Leaders_Icon" = 'Average';
	    ELSEIF in_Leader_Score < 80 THEN
	       	UPDATE CHICAGO_PUBLIC_SCHOOLS
				SET "Leaders_Icon" = 'Strong';
	    ELSEIF in_Leader_Score < 100 THEN
	       	UPDATE CHICAGO_PUBLIC_SCHOOLS
				SET "Leaders_Icon" = 'Very Strong';
        Else ROLLBACK WORK;  --  SQLCODE Using Transactions to avoid someone calls a score outside of the allow range (0-99)    

	   	END IF;

  END

 * ibm_db_sa://msb52107:***@dashdb-txn-sbox-yp-lon02-02.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[]

# Question 2
>Update your stored procedure definition again. Add a statement to commit the current unit of work at the end of the procedure.

*Hint:*

* Remember that as soon as any code inside the IF/ELSE IF/ELSE statements completes, processing resumes after the END IF, so you can add your commit code there.

*Could be solution*

In [20]:
%%sql 

--#SET TERMINATOR @
CREATE or replace PROCEDURE UPDATE_LEADERS_SCORE (
    IN in_School_ID  INTEGER, IN in_Leader_Score INTEGER) 
LANGUAGE SQL 
MODIFIES SQL DATA
  BEGIN
    UPDATE CHICAGO_PUBLIC_SCHOOLS
		SET "Leaders_Score" = in_Leader_Score
			WHERE "School_ID" = in_School_ID;
			
		IF in_Leader_Score > 0 AND in_Leader_Score < 20 THEN
	      	UPDATE CHICAGO_PUBLIC_SCHOOLS
				SET "Leaders_Icon" = 'Very Weak';
	    ELSEIF in_Leader_Score < 40 THEN
	       	UPDATE CHICAGO_PUBLIC_SCHOOLS
				SET "Leaders_Icon" = 'Weak';	
	    ELSEIF in_Leader_Score < 60 THEN
	       	UPDATE CHICAGO_PUBLIC_SCHOOLS
				SET "Leaders_Icon" = 'Average';
	    ELSEIF in_Leader_Score < 80 THEN
	       	UPDATE CHICAGO_PUBLIC_SCHOOLS
				SET "Leaders_Icon" = 'Strong';
	    ELSEIF in_Leader_Score < 100 THEN
	       	UPDATE CHICAGO_PUBLIC_SCHOOLS
				SET "Leaders_Icon" = 'Very Strong';
        Else ROLLBACK WORK;  --  SQLCODE Using Transactions to avoid someone calls a score outside of the allow range (0-99)    

	   	END IF;
        
        COMMIT WORK;
  END

 * ibm_db_sa://msb52107:***@dashdb-txn-sbox-yp-lon02-02.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[]

>>* Run your code to replace the stored procedure.

>>* Write and run one query to check that the updated stored procedure works as expected when you use a valid score of 38.

>>* Write and run another query to check that the updated stored procedure works as expected when you use an invalid score of 101.

In [22]:
%%sql
CALL RETRIEVE_ALL_1;

CALL UPDATE_LEADERS_SCORE(610038, 38);        -- Caller query

CALL UPDATE_LEADERS_SCORE(610281, 101);     

CALL RETRIEVE_ALL_1;

 * ibm_db_sa://msb52107:***@dashdb-txn-sbox-yp-lon02-02.services.eu-gb.bluemix.net:50000/BLUDB
Done.
Done.
Done.
Done.
(ibm_db_dbi.ProgrammingError) ibm_db_dbi::ProgrammingError: The last call to execute did not produce any result set.
(Background on this error at: http://sqlalche.me/e/f405)