<a href="https://colab.research.google.com/github/weijhenyujhou/DS_IBM/blob/master/Databases%20and%20SQL%20for%20Data%20Science%20with%20Python/Database_and_SQL_Final_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install sqlalchemy==1.3.9
!pip install ibm_db_sa

Collecting sqlalchemy==1.3.9
  Downloading https://files.pythonhosted.org/packages/89/4e/f10fc5063d1048b3813c0caf99f06ec2b73851ae1a939feb85315dacb3fc/SQLAlchemy-1.3.9.tar.gz (6.0MB)
     |████████████████████████████████| 6.0MB 29.5MB/s
Building wheels for collected packages: sqlalchemy
  Building wheel for sqlalchemy (setup.py) ... done
  Created wheel for sqlalchemy: filename=SQLAlchemy-1.3.9-cp37-cp37m-linux_x86_64.whl size=1203445 sha256=575c4f6735b17da5db6c15d82c11d86d9f656fb92a5bb91d6a2120132ca7a519
  Stored in directory: /root/.cache/pip/wheels/23/84/f4/c15e90bd4c87e0377dad50e670f4535715550f6fc3be27ea0f
Successfully built sqlalchemy
Installing collected packages: sqlalchemy
  Found existing installation: SQLAlchemy 1.4.15
    Uninstalling SQLAlchemy-1.4.15:
      Successfully uninstalled SQLAlchemy-1.4.15
Successfully installed sqlalchemy-1.3.9
Collecting ibm_db_sa
  Downloading https://files.pythonhosted.org/packages/62/af/88781f8dc7a414507ab94a2b91319bdbd3b5375e38353446c113c548adcb/ibm_db_sa-0.3.6.tar.gz
Requirement already satisfied: sqlalchemy>=0.7.3 in /usr/local/lib/python3.7/dist-packages (from ibm_db_sa) (1.3.9)
Collecting ibm_db>=2.0.0
  Downloading https://files.pythonhosted.org/packages/dc/7c/26c1eb0ce78689a6a6775337b43f498f8e901790ec0bafd6f24e2ef594af/ibm_db-3.0.4.tar.gz (796kB)
     |████████████████████████████████| 798kB 31.6MB/s
Building wheels for collected packages: ibm-db-sa, ibm-db
  Building wheel for ibm-db-sa (setup.py) ... done
  Created wheel for ibm-db-sa: filename=ibm_db_sa-0.3.6-cp37-none-any.whl size=28873 sha256=08362c96f5501f5c29124b5322493bdf9afd6155b5c638a66bc738a572c34179
  Stored in directory: /root/.cache/pip/wheels/97/b5/8a/17a01086a100d48a008b2b556843b23fef5eb69a6b4f04c419
  Building wheel for ibm-db (setup.py) ... done
  Created wheel for ibm-db: filename=ibm_db-3.0.4-cp37-cp37m-linux_x86_64.whl size=40999804 sha256=d2d0bf3167d810d93d97994698f5e53c602aed3af7d39dc249782ea4e84ac629
  Stored in directory: /root/.cache/pip/wheels/d9/85/7a/07dd5eba2f2d6a040be8aefb2b5051b0408c7f997259b5756b
Successfully built ibm-db-sa ibm-db
Installing collected packages: ibm-db, ibm-db-sa
Successfully installed ibm-db-3.0.4 ibm-db-sa-0.3.6

In [2]:
%load_ext sql

In [3]:
# Enter the connection string for your Db2 on Cloud database instance below
# %sql ibm_db_sa://my-username:my-password@my-hostname:my-port/my-db-name
%sql ibm_db_sa://msb52107:59kj282nqkg1h2-d@dashdb-txn-sbox-yp-lon02-02.services.eu-gb.bluemix.net:50000/BLUDB

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])
Can't load plugin: sqlalchemy.dialects:ibm_db_sa
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

Problem 1: Find the total number of crimes recorded in the CRIME table.

In [ ]:
%sql select count(*) from CHICAGO_CRIME_DATA;

 * ibm_db_sa://msb52107:***@dashdb-txn-sbox-yp-lon02-02.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[(Decimal('533'),)]

Problem 2: List community areas with per capita income less than 11000.

In [ ]:
%sql select COMMUNITY_AREA_NAME,PER_CAPITA_INCOME from CENSUS_DATA where PER_CAPITA_INCOME < 11000

 * ibm_db_sa://msb52107:***@dashdb-txn-sbox-yp-lon02-02.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[('West Garfield Park', 10934),
 ('South Lawndale', 10402),
 ('Fuller Park', 10432),
 ('Riverdale', 8201)]

Problem 3: List all case numbers for crimes involving minors?

In [ ]:
%sql select case_number from CHICAGO_CRIME_DATA where DESCRIPTION LIKE '%MINOR%';

 * ibm_db_sa://msb52107:***@dashdb-txn-sbox-yp-lon02-02.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[('HL266884',), ('HK238408',)]

Problem 4: List all kidnapping crimes involving a child?(children are not considered minors for the purposes of crime analysis)

In [ ]:
%sql select * from CHICAGO_CRIME_DATA where PRIMARY_TYPE ='KIDNAPPING' and DESCRIPTION Like '%CHILD%';

 * ibm_db_sa://msb52107:***@dashdb-txn-sbox-yp-lon02-02.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[(5276766, 'HN144152', datetime.date(2007, 1, 26), '050XX W VAN BUREN ST', '1792', 'KIDNAPPING', 'CHILD ABDUCTION/STRANGER', 'STREET', 'FALSE', 'FALSE', 1533, 15, 29, 25, '20', 1143050, 1897546, 2007, Decimal('41.87490841'), Decimal('-87.75024931'), '(41.874908413, -87.750249307)')]

Problem 5: What kind of crimes were recorded at schools?

In [ ]:
%sql select distinct PRIMARY_TYPE from CHICAGO_CRIME_DATA where LOCATION_DESCRIPTION like '%SCHOOL%';

 * ibm_db_sa://msb52107:***@dashdb-txn-sbox-yp-lon02-02.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[('ASSAULT',),
 ('BATTERY',),
 ('CRIMINAL DAMAGE',),
 ('CRIMINAL TRESPASS',),
 ('NARCOTICS',),
 ('PUBLIC PEACE VIOLATION',)]

Problem 6: List the average safety score for all types of schools.

In [ ]:
%sql select avg(SAFETY_SCORE) as avg_SAFETY_SCORE, "Elementary, Middle, or High School" from CHICAGO_PUBLIC_SCHOOLS group by "Elementary, Middle, or High School"

 * ibm_db_sa://msb52107:***@dashdb-txn-sbox-yp-lon02-02.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[(Decimal('49.520383'), 'ES'),
 (Decimal('49.623529'), 'HS'),
 (Decimal('48.000000'), 'MS')]

Problem 7: List 5 community areas with highest % of households below poverty line.

In [ ]:
%sql select COMMUNITY_AREA_NAME, ROW_NUMBER() over (order by PERCENT_HOUSEHOLDS_BELOW_POVERTY DESC) as ranking from CENSUS_DATA LIMIT 5

 * ibm_db_sa://msb52107:***@dashdb-txn-sbox-yp-lon02-02.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[('Riverdale', 1),
 ('Fuller Park', 2),
 ('Englewood', 3),
 ('North Lawndale', 4),
 ('East Garfield Park', 5)]

Problem 8: Which community area(number) is most crime prone?

In [ ]:
%sql select COMMUNITY_AREA_NUMBER from CHICAGO_CRIME_DATA group by COMMUNITY_AREA_NUMBER order by count(*) DESC limit 1

 * ibm_db_sa://msb52107:***@dashdb-txn-sbox-yp-lon02-02.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[(25,)]

Problem 9: Use a sub-query to find the name of the community area with highest hardship index.

In [ ]:
%sql select COMMUNITY_AREA_NAME from CENSUS_DATA where HARDSHIP_INDEX = (select MAX(HARDSHIP_INDEX) from CENSUS_DATA)

 * ibm_db_sa://msb52107:***@dashdb-txn-sbox-yp-lon02-02.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[('Riverdale',)]

Problem 10: Use a sub-query to determine the Community Area Name with most number of crimes?

In [ ]:
%sql select COMMUNITY_AREA_NAME from CENSUS_DATA where  COMMUNITY_AREA_NUMBER = (select COMMUNITY_AREA_NUMBER from CHICAGO_CRIME_DATA group by COMMUNITY_AREA_NUMBER order by count(*) desc limit 1)

 * ibm_db_sa://msb52107:***@dashdb-txn-sbox-yp-lon02-02.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[('Austin',)]